* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
}
.wrap {
  font-size: 0.32rem;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 0.8rem;
  display: flex;
  line-height: 0.6rem;
  justify-content: space-between;
  padding: 0.1rem 0.3rem;
}
.section {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
}
.section .p {
  height: 100rem;
}
.top-nav {
  width: 100%;
  height: 0.4rem;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  background: #ccc;
  font-size: 0.3rem;
}
.small-nav {
  display: flex;
}
.small-nav li {
  flex-shrink: 0;
  margin: 0 0.2rem;
}
.small-nav li.on {
  color: orange;
  border-bottom: 1px solid orange;
}
.main-nav {
  width: 100%;
  height: 100%;
}
.main-nav ol {
  width: 100%;
  height: 100%;
}
.main-nav ol li {
  width: 100%;
  height: 100%;
  display: none;
}
.main-nav ol li.bg {
  display: block;
}
.page1 {
  display: flex;
  flex-wrap: wrap;
}
.page1 .box {
  width: 50%;
  height: 4.3rem;
  padding: 0.15rem;
}
.page1 .box .img {
  width: 100%;
  height: 3rem;
}
.page1 .box .img img {
  width: 100%;
  height: 100%;
  display: block;
}
.page1 .box .text {
  width: 100%;
}
.page1 .box .text span {
  color: red;
}
